@charset "utf-8";

:root {
  color-scheme: light;

  --color-bg: #f2f2f1;
  --color-text: #4c4b49;
  --color-link: #77639c;

  --header-line: #86837f;
  --footer-line: #9b9791;
  --footer-text: #6e6c6b;

  --mode-btn-light: #e6e6e4;
  --mode-btn-dark: #46443f;
}

[data-theme="dark"] {
  color-scheme: dark;

  --color-bg: #1f1f1e;
  --color-text: #a5a29b;
  --color-link: #9583b5;

  --header-line: #797775;
  --footer-line: #5c5a58;
  --footer-text: #8a8785;

  --mode-btn-light: #cbc9c6;
  --mode-btn-dark: #33322f;
}
