@charset "utf-8";

:root {
  color-scheme: light;

  --color-bg: #f4f4f2;
  --color-text: #494340;
  --color-link: #3a5c3f;

  --header-line: #857b78;
  --footer-line: #9a908d;
  --footer-text: #6f6763;

  --mode-btn-light: #e8e6e2;
  --mode-btn-dark: #4a4441;
}

[data-theme="dark"] {
  color-scheme: dark;

  --color-bg: #222020;
  --color-text: #e8e3de;
  --color-link: #8fb094;

  --header-line: #807774;
  --footer-line: #605956;
  --footer-text: #aea4a0;

  --mode-btn-light: #cfc9c4;
  --mode-btn-dark: #35302e;
}
