@charset "utf-8";

:root {
  color-scheme: light;

  --color-bg: #f4f3f0;
  --color-text: #4e4d47;
  --color-link: #6265b2;

  --header-line: #a7a6a0;
  --footer-line: #c3c3be;
  --footer-text: #706e67;

  --mode-btn-light: #e6e5e1;
  --mode-btn-dark: #46453f;
}

[data-theme="dark"] {
  color-scheme: dark;

  --color-bg: #1f1f1c;
  --color-text: #b1b0a9;
  --color-link: #8183c1;

  --header-line: #56554f;
  --footer-line: #41403c;
  --footer-text: #89877f;

  --mode-btn-light: #cac9c5;
  --mode-btn-dark: #33322e;
}
